<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SCUBA DB App</title>
    <link href="./css/style.css" rel="stylesheet" type="text/css" />
</head>
<header><h1>Super Cool Underwater Buddy Application</h1>
<nav><a href="/">Index</a>  <a href="/divers">Divers</a>  <a href="/units">Units</a>  <a href="/dives">Dives</a>  <a href="/divesites">Dive Sites</a>  <a href="/divelogs">Dive Logs</a>  <a href="/divestodivesites">Dives-to-Dive Sites</a></nav>
</header>
<body>

    {{{body}}}

</body>
<footer><p>&copy; 2023 Christopher Lutze, Justin Ngo</p></footer>
</html>