<!-- index.hbs -->
<title>SCUBA DB Index</title>
<h1>Super Cool Underwater Buddy App (SCUBA) Index Page</h1>

[<a href="/">Index</a> | <a href="/divers">Divers</a> | <a href="/units">Units</a> | <a href="/dives">Dives</a> | <a
    href="/divesites">Dive Sites</a> | <a href="/divelogs">Dive Logs</a> | <a href="/divestodivesites">Dives-to-Dive
    Sites</a>]

<p>The <strong>Divers</strong> page allows the user to add a new diver, update the information for an existing diver,
    and delete an existing diver. </p>
<p>The <strong>Units</strong> page allows the user to add a new set of units, update the information for an existing set
    of units, and delete an existing set of units. The purpose of this page is to display information of specific sets of
    units used by divers and their operations. The table displayed shows the entry id, the name of the unit, the type of
    pressure, the type of length, the type of weight, and the type of temperature.</p>
<p>The <strong>Dives</strong> page allows the user to add a new dive record, update the information for an existing dive
    record, and delete an existing dive record. It also has search bar to help the user find a divesite_id based on the
    site name, city, and country. It has a search bar to help the user find a gear_id based on the first and last name
    of the diver who owns that gear set.</p>
<p>The <strong>Dive Sites</strong> page allows the user to add a new dive site record, update the information for an existing
    dive site record, and delete an existing dive site record. The purpose of this page is to display specific locations
    divers input for past, present, and future dives. The table displayed shows the entry id, the name of the dive site, the 
    city it is located in, and the country it is located in.</p>
<p>The <strong>Dive Logs</strong> page allows the user to add a new dive log record, update the information for an
    existing dive log record, and delete an existing dive log record. It has a search bar to find a diver_id based on
    the first and last name of the diver. It has another search bar to help the user find a dive_id based on the site
    name, date, and country where the dive was completed. It also has a search bar to help the user find a gear_id based
    on the first and last name of the diver who owns that gear set.</p>
<p>The <strong>Dives-to-Dive Sites</strong> page allows the user to add a new dives-to-dive sites record, update the 
    information for an existing dives-to-dive sites record, and delete an existing dives-to-dive sites record. The purpose
    of this page is to visually identify the relation between a specific dive entry and the location of the dive. The table
    displayed shows the log id, the information regarding the dive such as the date and max depth, and the dive site location
    of the dive.</p>