/* CSS Document */

/* CSS for all the pages*/

body {
    color: black;
    background-color: rgba(142,169,88,255);
    text-align: center;
    font-family: Georgia, Helvetica, Arial;
    padding: 0px 100px;
    padding-bottom: 50px;
    margin: 0px;
    margin-top: 30px;
  }

a:link, a:visited {
    color: rgba(172,49,32,255);
    text-decoration: none;
}

#navigate {
    color: rgba(172,49,32,255);
    background-color: rgba(203,206,137,255);
    font-size: 25px;
    border: 2px solid rgba(172,49,32,255);
    padding: 4px;
    width: 80%;
    margin:auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: rgba(203,206,137,255);
}

table, th, td {
    border: 1px solid rgba(239,61,35,255);
    padding: collapse;
}

th, td {
    color: rgba(30,59,1,255);
    text-align: center;
    padding: 5;
}

#Client-Transactions-table {
    width: 65%;
}

#Managers-table {
    width: 50%;
}

#Portfolio-stocks-table {
    width: 30%;
}

#Transaction_decisions-table {
    width: 100%;
}

h1, h2, h3 {
    color: rgba(0,0,0,255);
}

form {
    color: rgba(30,59,1,255) 
}

button {
    background-color: rgba(30,59,1,255);
    color: white;
    padding: 5px 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text], select {
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(232,233,188,255);
  }
  
input[type=submit] {
    background-color: rgba(30,59,1,255);
    color: white;
    padding: 5px 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: rgba(239,61,35,255);
} 
